/* Landing Page CSS */
.background-container {
  background-image: url('./assets/bg.jpg');
  background-size: 3000px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar .website-name {
  font-size: 24px;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.left-side {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: white;
  font-family: 'Young Serif', serif;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.right-side .nav-link {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 50px;
  color: #fff;
  text-decoration: none;
  font-family: 'Young Serif', serif;
}

.vithuImageF {
  max-width: 100%;
  width: 30%;
  height: 30%;
  margin-left: 20%;
  margin-top: 6%;
  border-radius: 50%;
  transition: box-shadow 1s ease-in-out;
  /* Transition the box-shadow property over 1 second */
  box-shadow: 0 4px 20px #1932d4;
  /* Updated box shadow with 20px blur */
}

.vithuImageF.withBoxShadow {
  box-shadow: 0 4px 50px #1932d4;
  /* Updated box shadow with 20px blur */
}

.flex-container {
  display: flex;
  align-items: center;
  /* Center items vertically */
}

.text-content {
  color: white;
  /* Set the text color */
  margin-left: 5%;
  margin-top: 7%;
  font-size: 30px;
}

.typewriter-text {
  font-family: 'Young Serif';
  letter-spacing: '5px';
  color: #1932d4;
  font-size: 50px;
}


.text-content .p {
  font-size: 20px;
  width: 650px;
}

.buttonCss button {
  font-size: 15px;
  height: 50px;
  width: 170px;
  margin-top: 65px;
  font-family: 'Young Serif', serif;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Add a smooth transition effect */
  margin-left: 10px;
  border: none;
}

.buttonCss button:hover {
  background: linear-gradient(to bottom, #00138f, #0056b3);
  color: white;
  border: none;
}

.title {
  font-size: 75px;
  color: white;
}

.title-covidex {
  font-size: 60px;
  color: white;
}

.project-logos {
  height: 250px;
  border-radius: 50px;
  margin-left: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;

}

.skills {
  margin-top: 50px;
  text-align: center;
  background-image: url('./assets/bg-blue.png');
}

.title {
  padding-top: 50px;
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

/* CSS for My Skills */
.skills {
  margin-top: 450px;
}

.skills-container {
  padding-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 75px;
}

.skill-item {
  margin: 10px;
  padding: 50px;
  margin-left: 50px;
  margin-top: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 75px;
  height: 130px;
}

.skill-item:hover {
  transform: translateY(-5px);
  background: linear-gradient(to bottom, #00138f, #0056b3);
  color: white;
}

.skill-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 18px;
  font-weight: bold;
}

/* CSS for my projects */

.title-project {

  font-size: 36px;
  color: white;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 50px;
  background-image: url('./assets/bg-blue.png');
  background-size: cover;
}


/* CSS for my projects */
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
  width: 1500px;
  margin-bottom: 50px;
}

.project-details {
  text-align: left;
  margin-right: 20px;
  /* Adjust spacing between details and image */

}

.title {
  font-size: 30px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
  color: white !important;
  width: 700px;
}

.project-image img {
  width: 350px;
  /* Set the desired width */
  height: 250px;
  /* Set the desired height */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);

}

.button-preview-source {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  height: 40px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  font-family: 'Young Serif';
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}


.button-preview-source:hover {
  background-color: #45a049;
}

.button-prev-next {
  background-color: white;
  font-family: 'Young Serif';
  border: none;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}

.button-prev-next:hover {
  background: linear-gradient(to bottom, #0b23bc, #0056b3);
  color: white;
}

/* Mobile view */
@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .project-details {
    text-align: center;
    margin-bottom: 20px;
    /* Adjust spacing between details and image */
  }
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.project-image {
  width: 750px;

  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.image{
  height: 100% !important;
  width: 100% !important;
}


/* Footer */
.footer {
  background-color: #000000;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icon-link {
  width: 45px;
  height: 45px;
  margin: -15px 5px;
  margin-top: 5px;
  transition: all 0.3s ease;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: -15px 5px;
  margin-top: 5px;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.social-icon-link:hover {
  transform: scale(1.2);
}

.email {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.email:hover {
  color: #42a5f5;
}

.copyright {
  font-size: 14px;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 10px 10px;
  }

  .left-side {
    font-size: 24px;
  }

  .right-side .nav-link {
    font-size: 14px;
  }

  .vithuImageF {
    margin-left: 5%;
    height: 175px;
  }

  .text-content {
    font-size: 18px;
    margin-left: 5%;
    margin-top: 5%;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  /* Add this CSS block for adjusting project images */
  .project-image img {
    width: 400px !important; /* Adjust the width as needed */
    height: auto !important; /* Maintain aspect ratio */
    max-height: 200px; /* Limit the maximum height */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  }

  .project-title, .project-description {
    color: white !important;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .background-container {
    background-image: url('./assets/bg-neon.png');
    background-size: 850%;
    height: auto;
  }

  .website-name {
    margin-left: 10px;
  }

  .h1 {
    font-size: 25px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    text-align: center;
    /* Center text */
  }

  .vithuImageF {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    /* Adjust spacing between image and text */
  }

  .text-content {
    color: white; 
    font-size: 30px;
    margin-bottom: 20px;
    /* Adjust spacing between text and buttons */
  }

  .text-content .p {
    font-size: 20px;
    margin-right: 0;
    width: 100%;
  }

  .buttonCss button {
    font-size: 15px;
    height: 50px;
    width: 170px;
    margin-right: 15px;
    margin-top: 20px;
    /* Adjust top margin for buttons */
    margin-bottom: 20px;
    /* Adjust bottom margin for buttons */
    font-family: 'Young Serif', serif;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .buttonCss button:hover {
    background-color: #00138f;
  }

  .button-container {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    margin-top: 10px;
    /* Adjust top margin for the container */
  }

  .skills-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -50px;
  }

  .skill-item {
    width: 75px;
    /* Set the width of each skill item to fit two columns */
    height: 125px;
    margin: 10px;
    /* Add some margin between skill items */
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Adjust spacing between projects */

  }

  .project-details {
    text-align: center;
    margin: 0 auto;
    max-width: 350px;
    padding: 20px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 10px;
    /* Adjust spacing between title and image */
  }


  .description {
    color: white;
    margin-bottom: 20px;
    /* Adjust spacing between text and buttons */
    width: 350px;
    margin-left: 75px;
    text-align: center !important;
    font-size: 16px !important;
  }

  .button-container {
    padding-bottom: 550px;
  }

  .title-datum {
    margin-top: -375px;
    padding-bottom: 250px;
  }

  .preview,
  .source {
    font-size: 15px;
    height: 50px;
    width: 170px;
    margin-top: 25px;
    /* Adjust top margin for buttons */
    margin-bottom: 10px;
    /* Adjust bottom margin for buttons */
    font-family: 'Young Serif', serif;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    /* Adjust margin between buttons */
  }

  .preview:hover,
  .source:hover {
    background: linear-gradient(to bottom, #00138f, #0056b3);
    color: white;
  }

  .image-container {
    margin-left: 250px;
  }


}

@keyframes slideAndColorChange {
  0% {
    transform: translateX(-10%);
    color: white;
  }

  100% {
    transform: translateX(0);
    color: #122ee0;
  }
}

.h1 h1 {
  display: block;
  animation: slideAndColorChange 1s forwards;
}

/* Mobile view */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 14px;
  }

  .navbar .website-name {
    margin-bottom: 10px;
  }

  .right-side {
    display: none;
    /* Hide the right-side links */
  }
}