/* App.css */
.background-container {
  background-image: url('./assets/bg-neon.png');
  background-size: cover;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 15, 15); 
  padding: 10px 20px;
}

.left-side {
  display: flex;
  align-items: center;
  font-size: 40px;
  color:white;
  font-family: 'Young Serif', serif;
}

.logo {
  width: 100px; /* Adjust the logo size as needed */
  height: 100px;
  margin-right: 10px;
}

.right-side .nav-link {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 50px; /* Add a right margin for spacing */
  color: #fff; /* Text color for links */
  text-decoration: none;
  font-family: 'Young Serif', serif;
}

.vithuImageF {
  max-width: 100%; /* Set a maximum width for the image */
  width: 750px; /* Set the width to maintain a perfect circle */
  height: 750px; /* Automatically adjust the height to maintain aspect ratio */
  margin-left: 20%; /* Adjust the margin for smaller screens */
  margin-top: 6%;
  box-shadow: 0 4px 20px #1932d4;
  border-radius: 50%; /* Set border-radius to 50% to create a circle */
}

.flex-container {
  display: flex;
  align-items: center; /* Center items vertically */
}

.text-content {
  color: white; /* Set the text color */
  margin-left: 5%;
  margin-top: 7%;
  font-size: 30px;
}
.text-content .p{
  font-size: 20px;
  width: 650px;
}

.buttonCss button {
  font-size: 15px;
  height: 50px;
  width: 170px;
  margin-top: 65px;
  font-family: 'Young Serif', serif;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
  margin-left: 10px;
  border: none;
}

.buttonCss button:hover {
  background-color: #00138f; /* Change the background color to light blue on hover */
  color: white;
  border: none;
}


.title{
  font-size: 75px;
  color: white;
} 

.title-covidex{
  font-size: 60px;
  color: white;
} 

.project-logos{
  height:250px;
  border-radius: 50px;
  margin-left: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;

} 

.skills {
  margin-top: 50px;
  text-align: center;
  background-image: url('./assets/bg-blue.png');
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.skills{
  margin-top: 450px;
}

.skills-container {
  padding-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto; /* Center the container on the page */
}

.skill-item {
  margin: 10px;
  padding: 50px;
  margin-left: 50px;
  margin-top: 50px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-5px);
  background-color: #00138f; /* Change the background color to light blue on hover */
  color: white;
}

.skill-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 18px;
  font-weight: bold;
}

.projects {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 50px;
  background-image: url('./assets/bg-blue.png');
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}

.image-container {
  margin-right: 300px; /* Adjust the margin between image and text */
}

.second-container{
  margin-right: 100px;
}


.project-image {
  width: 200px; /* Set your desired width for the image */
  height: auto; 
}

.fantasy-image {
  width: 500px; /* Set your desired width for the image */
  height: 400px; 
  border-radius: 10px;
  margin-top: 50px;
}

.datum-image{
  width: 500px; /* Set your desired width for the image */
  height: 400px; 
  border-radius: 10px;
  margin-top: 50px;
}

.eldr-image{
  width: 200px; /* Set your desired width for the image */
  height: auto; 
  margin-left: 450px; /* Adjust the margin between image and text */
}

.covidex-image{
  width: 200px; /* Set your desired width for the image */
  height: auto; 
  margin-left: 450px; /* Adjust the margin between image and text */
}

.project-details {
  text-align: left; /* Align text to the left within the details div */
  width: 500px;
}

.title {
  font-size: 36px; /* Set your desired font size for the title */
  margin-bottom: 10px; /* Adjust the margin between title and description */
}

.title-datum{
  color: white;
  font-size: 60px;
}

.title-fantasy{
  color: white;
  font-size: 50px;
}

.title-eldr{
  color: white;
  font-size: 50px;
}
.description {
  font-size: 26px; /* Set your desired font size for the description */
}

.preview {
  width: 500px;
  height: 35px;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: white;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  border: none;
}

.source {
  width: 500px;
  height: 35px;
  font-size: 15px;
  margin-bottom: 30px;
  background-color: white;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  border: none;
}

.preview:hover {
  background-color: #00138f; /* Change the background color to light blue on hover */
  border: none;
  color: white;
}

.source:hover {
  background-color: #00138f; /* Change the background color to light blue on hover */
  border: none;
  color: white;
}


@media (max-width: 1024px) {
  .navbar {
    padding: 10px 10px;
  }

  .left-side {
    font-size: 24px;
  }

  .right-side .nav-link {
    font-size: 14px;
  }

  .vithuImageF {
    margin-left: 5%;
    height: 175px;
  }

  .text-content {
    font-size: 18px;
    margin-left: 5%;
    margin-top: 5%;
  }
}

@media (max-width: 768px) {

  .website-name {
    margin-left: 10px;
  }

  .h1{
    font-size: 25px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
  }

  .vithuImageF {
    width: 250px;
    height: 250px;
    margin-bottom: 20px; /* Adjust spacing between image and text */
  }
  
  .text-content {
    color: white;
    font-size: 30px;
    margin-bottom: 20px; /* Adjust spacing between text and buttons */
  }
  
  .text-content .p {
    font-size: 20px;
    margin-right: 0; /* Reset right margin */
    width: 100%; /* Make the text content 100% width */
  }
  
  .buttonCss button {
    font-size: 15px;
    height: 50px;
    width: 170px;
    margin-right: 15px;
    margin-top: 20px; /* Adjust top margin for buttons */
    margin-bottom: 20px; /* Adjust bottom margin for buttons */
    font-family: 'Young Serif', serif;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonCss button:hover {
    background-color: #00138f;
  }
  .button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 10px; /* Adjust top margin for the container */
  }
  .skills-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -50px;
  }

  .skill-item {
    width: 75px; /* Set the width of each skill item to fit two columns */
    height: 100px;
    margin: 10px; /* Add some margin between skill items */
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; /* Adjust spacing between projects */

  }
  .project-details {
    text-align: center;
    margin: 0 auto;
    max-width: 350px; /* Set your desired maximum width */
    padding: 20px;
  }
  .title {
    font-size: 30px; /* Set your desired title font size */
    margin-bottom: 10px; /* Adjust spacing between title and image */
  }

  .eldr-image {
    width: 150px;
    height: 250px;
    margin-bottom: 10px; /* Adjust spacing between image and text */
    margin-left: 50px;
  }

  .fantasy-image{
    width: 350px;
    height: 250px;
    margin-bottom: 10px; /* Adjust spacing between image and text */
    margin-left: 50px;
  }


  .description {
    color: white;
    margin-bottom: 20px; /* Adjust spacing between text and buttons */
    width: 350px;
    margin-left: 75px;
    text-align: center !important; 
    font-size: 14px !important;
  }

  .button-container{
    padding-bottom: 550px;
  }
  
  .title-datum{
    margin-top: -375px;
    padding-bottom: 250px;
  }

  .datum-image{
    width: 350px;
    height: 250px;
    margin-top: 100px; /* Adjust spacing between image and text */
    margin-left: 50px;
  }

  .title-covidex{
    margin-top: -550px;
    padding-bottom: 250px;
  }

  .covidex-image {
    width: 150px;
    height: 250px;
    position: relative;
    top: -1200px; /* Adjust this value to move the element up */
    left: -175px; /* Adjust this value to move the element horizontally */
  }

  .title-fantasy{
    margin-top: -1150px;
    padding-bottom: 250px;
  }

  .fantasy-image {
    width: 350px;
    height: 250px;
    position: relative;
    top: -700px; /* Adjust this value to move the element up */
    left: -5px; /* Adjust this value to move the element horizontally */
  }
  .title-eldr{
    margin-top: -600px;
    padding-bottom: 250px;
  }
  .eldr-image {
    width: 175px;
    height: 250px;
    position: relative;
    top: -1125px; /* Adjust this value to move the element up */
    left: 20px; /* Adjust this value to move the element horizontally */
  }

  .preview,
  .source {
    font-size: 15px;
    height: 50px;
    width: 170px;
    margin-top: 10px; /* Adjust top margin for buttons */
    margin-bottom: 10px; /* Adjust bottom margin for buttons */
    font-family: 'Young Serif', serif;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Adjust margin between buttons */
  }

  .preview:hover,
  .source:hover {
    background-color: #00138f;
    color: white;
  }
  
  .image-container{
    margin-left: 250px;
  }
}

@keyframes slideAndColorChange {
  0% {
    transform: translateX(-10%);
    color: white;
  }
  100% {
    transform: translateX(0);
    color: #122ee0;
  }
}

.h1 h1 {
  display: block;
  animation: slideAndColorChange 1s forwards;
}